# Python
__pycache__/
*.pyc
venv/
.venv/
.env
.env.*

# Logs
*.log

# Databases / local data
*.db
*.sqlite
*.sqlite3

# Credentials / passwords
Password.txt
password.txt
secrets.txt

# Generated/build files
build/
dist/
*.spec

# Media files
*.mp4
*.mp3
*.wav
*.avi

# Temporary/local files
.ipynb_checkpoints/